* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: rgb(10, 10, 78);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
width: 100%;
}
header{
    width: 100%;
}
nav{
    flex-direction: column;
    height: 117px;
    
    align-items: center;

}
.left img{
    position: relative;
   
    top: 4px;
    left: 69px;

}
nav .left h3 {
    position: relative;
    left: 11px;
    top: -6px;
    font-size: 1.5rem;
}
.firstsection{
    justify-content: center;
    margin: 0;
    height: 36vh;
    
    /* background: url(gif1.gif) no-repeat right ; */
}
.leftsection{
    margin: 0px;
   
   position: relative;
   left: 0;
   
}
.rightsection{
    display: none;
}
.right ul{
    margin: 0;
}
.right ul li{
    margin: 0;
    margin-right: 7px;
}
main{
    width: 100%;
}
.second{
    width: 100%;
}
.box-1{
    height: 155vh;
    justify-content: center;
    display: flex;
    margin-top: 0;
}
.box-1 .horizon{
    position: relative;
    top: -594px;
    align-items: center;
    flex-direction: column;
   
}
.box{
    height: 123vh;
    position: relative;
    width: 100%;
 



}
.box .horizon{
    position: relative;
    top: -330px;
    align-items: center;
    flex-direction: column;
}
.box #ver1{
    position: relative;
    top: 225px;
}
.box #ver2{
   
    position: relative;
    top: 511px;


}

.third{
    
    position: relative;
    
    margin-top: 0;
}
#ver-1{
    position: relative;
    top: 258px;
}
#ver-2{
    position: relative;
    top: 550px;
   
}
#ver-3{
    top: 850px;
    position: relative;
}
.desc{
    position: relative;
    left: -146px;
}
.projects{
    margin: 0;
    position: relative;
   
width: 100%;

}
.inprojects{
    position: relative;
    margin: 40px 0;
   

}
.footer{
    justify-content: space-between;
    height: 144px;
    width: 100%;
}
.logo h1{
    font-size: 1rem;
}

